* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgb(45, 55, 72);
  height: 65px;
  padding-left: 30px;
  padding-right: 30px;
}

main {
  flex: 1;
}

footer {
  background-color: rgb(45, 55, 72);
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.flex-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .right-content a img{
  height: 65px;
}

.uni-gate-logo {
  background-color: #0B2136;
  width: 107px;
  height: 30px;
  border-radius: 30px;
  color: #fff;
  justify-content: space-evenly;
  margin-right: 30px;
}

.uni-gate-logo img,span {
  padding: 5px 0;
}
.uni-gate-logo img {
  height: 25px;
}

.account .account-img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 2px solid #fff;
}

.user-content {
  width: 70px;
  margin-left: 5px;
}
.user-content .user-name {
  color: #fff;
  font-size: 20px;
}

.log-out {
  text-decoration: none;
  color: #fff;
}

.log-out:hover {
  filter: brightness(70%);
}

.slidebar {
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 65px;
  width: 260px;
  background: #EDF2F7;
  z-index: 100;
  transition: all 0.5s ease;

}

.slidebar.close {
  width: 50px;
}

.slidebar.close ~ .main-section {
  left: 78px;
  width: calc(100% - 78px);
}

.slidebar .top i {
  color: #2D3748;
  height: 50px;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
}

.slidebar .nav-links {
  padding-top: 10px;
  height: calc(100% - 65px);
  overflow: auto;
  overflow: visible;
}

.slidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.slidebar .nav-links li {
  list-style: none;
  position: relative;
  transition: all 0.4s ease;
}

.slidebar .nav-links li:hover {
  background: #ECF8FF;
}

.slidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slidebar .nav-links li i {
  height: 50px;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slidebar .nav-links li i.arrow {
  rotate: 90deg;
}

.slidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-90deg);
}

.slidebar.close .nav-links i.arrow {
  display: none;
}

.slidebar .nav-links li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #2D3748;
}

.slidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
}

.slidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.slidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  display: none;
}

.slidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity: 0;
  display: block;
  pointer-events: none;
  background: #EDF2F7;
}

.slidebar .nav-links li.showMenu .sub-menu  {
  display: block;
}

.slidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.slidebar .nav-links li .sub-menu a {
  color: #2D3748;
  font-size: 15px;
  padding: 5px 0;
  min-width: 150px;
  border-radius: 0 6px 6px 0;
  white-space: nowrap;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.slidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.slidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.slidebar.close .nav-links li .sub-menu .link_name {
  display: block;
  opacity: 1;
  font-size: 18px;
}

.slidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.slidebar.close .nav-links li .sub-menu{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: 0s;
}

.slidebar.close .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.main-section {
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.main-section .main-content {
  min-height: calc(100% - 56px);
  display: flex;
  align-items: center;
}

.main-section .main-content h1 {
  padding:0 10px;
  color: rgb(45, 55, 72);
  letter-spacing: 1px;
}