<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syllabus</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
<header>
  <div class="header-content flex-content">

    <div class="right-content">
      <a href="#">
        <img src="/fpt_logo.png" class="fpt-logo" alt="">
      </a>
    </div>

    <div class="left-content flex-content">
      <div class="uni-gate-logo flex-content">
        <img src="/unit_gate.png" alt="">
        <span>uniGate</span>
      </div>
      <div class="account flex-content">

        <img src="/user_img.png" alt="" class="account-img">

        <div class="user-content">
          <span class="user-name">Vu Luu</span>
          <br>
          <a href="#" class="log-out">Log out</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="slidebar">

    <div class="top">
      <i class='bx bx-x' id="btn-close-slidebar"></i>
    </div>

    <ul class="nav-links">

      <li>
        <a href="#">
          <i class='bx bx-home' ></i>
          <span class="link_name">Home</span>
        </a>

        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Home</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-open'></i>
            <span class="link_name">Syllabus</span>
          </a>
          <i class='bx bx-chevron-down'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">Syllabus</a></li>
          <li><a href="#">View syllabus</a></li>
          <li><a href="#">Create syllabus</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-spreadsheet'></i>
            <span class="link_name">Training program</span>
          </a>
          <i class='bx bx-chevron-down'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">Training program</a></li>
          <li><a href="#">View program</a></li>
          <li><a href="#">Create program</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-graduation'></i>
            <span class="link_name">Class</span>
          </a>
          <i class='bx bx-chevron-down'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">Class</a></li>
          <li><a href="#">View class</a></li>
          <li><a href="#">Create class</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-home' ></i>
          <span class="link_name">Training calendar</span>
        </a>

        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Training calendar</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="link_name">User management</span>
          </a>
          <i class='bx bx-chevron-down'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">User management</a></li>
          <li><a href="#">User list</a></li>
          <li><a href="#">User Permission</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-package' ></i>
          <span class="link_name">Learning materials</span>
        </a>

        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Learning materials</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="link_name">Setting</span>
          </a>
          <i class='bx bx-chevron-down'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">Setting</a></li>
          <li><a href="#">Calendar</a></li>
        </ul>
      </li>

    </ul>

  </div>
</main>

<footer>

</footer>
</body>
</html>