<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title> Login to Syllabus </title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- Header -->
<header>
  <div class="logo">
    <a href="#">
      <img th:src="@{/img/logo.png}" class="fpt-logo" alt="">
    </a>
  </div>
  <div class="user">
    <div class="unit-gate">
      <img th:src="@{/img/unit_gate.png}" alt="">
      <span>unitGate</span>
    </div>
  </div>
</header>
<!-- End header -->
<img th:src="@{/img/login.png}" alt="Background Image" class="background-image">
<div class="img wrapper">
  <div class="login-form">
    <form method="post" th:object="${loginForm}" th:action="@{login}">
      <div style="width: 515px; margin: 0 auto">
        <div style="display: flex; flex-direction: column ">
          <h1>FPT Fresh Academy <br>Training Management</h1>
        </div>
        <div
            style="width: 515px;height: 19px;font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;display: flex;align-items: center; justify-content: center; text-align: center; margin: 0 auto">
          <p>If you don't have the account, please contact FA.HCM@fsort.com.vn</p>
        </div>
      </div>
      <div class="input" style="">
        <input th:field="*{email}" type="email" style="margin-bottom: 20px; ">
        <input th:field="*{password}" type="password">
      </div>
      <div class="action">
        <div class="forgot-password">
          <a href="#">Forgot password?</a>
        </div>
        <button>Sign In</button>
      </div>
    </form>
  </div>
</div>
<footer>
  <span class="font_16">Copyright @2022 BA Warrior. All right reserved</span>
</footer>
</body>
</html>
