<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syllabus</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/user-management.css}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
<header>
  <div class="header-content flex-content">

    <div class="right-content">
      <a href="#">
        <img src="/fpt_logo.png" class="fpt-logo" alt="">
      </a>
    </div>

    <div class="left-content flex-content">
      <div class="uni-gate-logo flex-content">
        <img src="/unit_gate.png" alt="">
        <span>uniGate</span>
      </div>
      <div class="account flex-content">

        <img src="/user_img.png" alt="" class="account-img">

        <div class="user-content">
          <span class="user-name">Vu Luu</span>
          <br>
          <a href="#" class="log-out">Log out</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="slidebar">

    <div class="top">
      <i class='bx bx-x' id="btn-close-slidebar"></i>
    </div>

    <ul class="nav-links">

      <li>
        <a href="#">
          <i class='bx bx-home' ></i>
          <span class="link_name">Home</span>
        </a>

        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Home</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-open'></i>
            <span class="link_name">Syllabus</span>
          </a>
          <i class='bx bx-chevron-down arrow'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">Syllabus</a></li>
          <li><a href="#">View syllabus</a></li>
          <li><a href="#">Create syllabus</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-spreadsheet'></i>
            <span class="link_name">Training program</span>
          </a>
          <i class='bx bx-chevron-down arrow'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">Training program</a></li>
          <li><a href="#">View program</a></li>
          <li><a href="#">Create program</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-graduation'></i>
            <span class="link_name">Class</span>
          </a>
          <i class='bx bx-chevron-down arrow'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">Class</a></li>
          <li><a href="#">View class</a></li>
          <li><a href="#">Create class</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-calendar-alt'></i>
          <span class="link_name">Training calendar</span>
        </a>

        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Training calendar</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="link_name">User management</span>
          </a>
          <i class='bx bx-chevron-down arrow'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">User management</a></li>
          <li><a href="#">User list</a></li>
          <li><a href="#">User Permission</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-package' ></i>
          <span class="link_name">Learning materials</span>
        </a>

        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Learning materials</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="link_name">Setting</span>
          </a>
          <i class='bx bx-chevron-down arrow'></i>
        </div>

        <ul class="sub-menu">
          <li><a class="link_name" href="#">Setting</a></li>
          <li><a href="#">Calendar</a></li>
        </ul>
      </li>

    </ul>

  </div>

  <section class="main-section">
    <div class="main-content">
      <h1>User Management</h1>
    </div>

    <div class="toolbar-section flex-content">
      <div class="toolbar-left">
        <div class="search-box">
          <label for="quick-search"><i class='bx bx-search'></i></label>
          <input id="quick-search" type="text" class="quick-search" placeholder="Search by.....">
        </div>

        <div class="filter-toolbar">
          <button class="btn-fillter">
            <i class='bx bx-sort-down'></i>
            Filter
          </button>

          <div class="filter-select">
            <div class="filter-content">
              <div class="1th-content flex-content">
                <div class="class-location">

                </div>

                <div class="class-time-frame">

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="toolbar-right">
        <button id="add-user-btn" class="add-user-btn">
          <i class='bx bx-plus-circle'></i>
          Add User
        </button>
      </div>
    </div>

    <table class="table-user">
      <thead>
      <tr>
        <th class="th-id-user">ID <i class='bx bx-menu-alt-left'></i></th>
        <th class="th-fullname-user">Full name <i class='bx bx-menu-alt-left'></i></th>
        <th class="th-email-user">Email <i class='bx bx-menu-alt-left'></i></th>
        <th class="th-dob-user">Date of birth <i class='bx bx-menu-alt-left'></i></th>
        <th class="th-gender-user">Gender <i class='bx bx-menu-alt-left'></i></th>
        <th class="th-type-user">Type <i class='bx bx-menu-alt-left'></i></th>
        <th class="th-function-user"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="td-id-user">245</td>
        <td class="td-fullname-user">Vũ Lưu Nguyễn Thanh</td>
        <td class="td-email-user">vuluu@gmail.com</td>
        <td class="td-dob-user">08/11/2003</td>
        <td class="td-gender-user">MALE</td>
        <td class="td-type-user admin"><span class="user-type-text">ADMIN</span></td>
        <td class="td-function-user">
          <button onclick="showUserFunction(245)" class="btn-user-function"> <!-- Pass user ID as parameter -->
            <i class='bx bx-dots-horizontal-rounded'></i>
          </button>
        </td>
      </tr>

      <tr>
        <td class="td-id-user">246</td>
        <td class="td-fullname-user">Vũ Lưu Nguyễn Thanh</td>
        <td class="td-email-user">vuluu@gmail.com</td>
        <td class="td-dob-user" >08/11/2003</td>
        <td class="td-gender-user">MALE</td>
        <td class="td-type-user"><span class="user-type-text">TRAINER</span></td>
        <td class="td-function-user">
          <button onclick="showUserFunction(246)" class="btn-user-function"> <!-- Pass user ID as parameter -->
            <i class='bx bx-dots-horizontal-rounded'></i>
          </button>
        </td>
      </tr>

      <tr>
        <td class="td-id-user">247</td>
        <td class="td-fullname-user">Vũ Lưu Nguyễn Thanh</td>
        <td class="td-email-user">vuluu@gmail.com</td>
        <td class="td-dob-user" >08/11/2003</td>
        <td class="td-gender-user">FEMALE</td>
        <td class="td-type-user"><span class="user-type-text">SUPER_ADMIN</span></td>
        <td class="td-function-user">
          <button onclick="showUserFunction(247)" class="btn-user-function"> <!-- Pass user ID as parameter -->
            <i class='bx bx-dots-horizontal-rounded'></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="pagging-page">
      <div class="pagination">
        <div class="next-page"> <i class='bx bx-first-page' ></i></div>
        <div class="next-page"><i class='bx bx-chevron-left'></i> </div>
        <div class="pagination-button active">1</div>
        <div class="pagination-button">2</div>
        <div class="pagination-button">3</div>
        <div class="dot-pagination"><i class='bx bx-dots-horizontal-rounded' ></i></div>
        <div class="pagination-button">10</div>
        <div class="next-page"> <i class='bx bx-chevron-right'></i></div>
        <div class="next-page"> <i class='bx bx-last-page' ></i></div>
      </div>

      <div class="row-per-page">Rows per page 10<i class='bx bx-chevron-down'></i></div>
    </div>

    <div id="overlay"></div>
    <div class="add-new-user-popup" id="add-user-popup">
      <div class="nav-add-new-user">
        <h3>Add a new user</h3>
        <button class="close-pop-up-add-user"><i class='bx bx-x-circle'></i></button>
      </div>

      <div class="add-new-user-popup-body">
        <form action="#" class="form-pop-up-add-user">
          <table>
            <tr>
              <td><label for="usertype">User type</label></td>
              <td><select name="usertype" id="usertype">
                <option value="" disabled selected>Select one</option>
                <option value="">SUPER_ADMIN</option>
                <option value="">ADMIN</option>
                <option value="">Trainner</option>
              </select></td>
            </tr>
            <tr>
              <td><label for="add-user-name">Name</label></td>
              <td><input id="add-user-name" type="text" placeholder="User name"></td>
            </tr>

            <tr>
              <td><label for="add-user-email">Email address</label></td>
              <td><input id="add-user-email" type="email" placeholder="Email address"></td>
            </tr>

            <tr>
              <td><label for="add-user-phone">Phone</label></td>
              <td> <input id="add-user-phone" type="add-user-phone" type="text" placeholder="Phone number"></td>
            </tr>

            <tr>
              <td><label for="add-user-dob">Date of birth</label></td>
              <td><input type="date" id="add-user-dob"></td>
            </tr>

            <tr>
              <td> <label> Gender</label></td>
              <td><input type="radio" name="gender" value="Male" checked> Male
                <input type="radio" name="gender" value="Female"> Female<td>
            </tr>

            <tr>
              <td><label for="statusActive">Status</label></td>
              <td>
                <div class="radio-wrapper">
                  <span class="user-status-text">Active</span>
                  <input type="radio" name="status" id="statusActive" value="active" checked class="custom-radio">
                </div>
              </td>
            </tr>
          </table>

          <div class="add-new-user-pop-up-function flex-content">
            <button class="cancel-create-user-btn">Cancel</button><button class="cancel-create-user-btn">Cancel</button>
            <button id="save-new-user-btn" class="save-user-btn">Save</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<footer>
  Copyright @2022 BA Warrior. All right reserverd
</footer>
</body>
<script th:src="@{/js/slide-bar.js}"></script>
<script th:src="@{/js/user-management.js}"></script>
</html>